.arrow{
    position: absolute;
    top: 1.4rem;
    left: 2.8rem;
    font-size: 5rem;
    color: white;
    cursor: pointer;
    z-index: 100;

    &__inGame{
        @media(max-width: 600px) {
            top: 50%;
            transform: translateY(-50%);
        }
    }
}