@import './../../sass/typography/headings';

.rules {
    text-align: center;
    margin-top: 1.6rem;

    @media(min-height: 800px) {
        margin-top: 5.5rem;
    }

    &__rule {
        display: inline-block;
        font-size: 1.6rem;
        margin: 0 5rem;
        color: white;

        &:not(:last-child) {
            margin-bottom: 4rem;
        }
    }

    &__arrow{
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        color: white;
        z-index: 10000;

        a{
            display: inline;
        }

        i{
            cursor: pointer;
            font-size: 6rem;

            @media(max-width: 600px){
                font-size: 4rem;
            }

        }

        &_left{
            left: 3rem;
        }

        &_right{
            right: 3rem;
        }

    }

}

.rule{
    font-family: 'K2D';
    padding: 0 15rem;

    @media (max-width: 900px) {
        padding: 0 10rem;
    }

    @media (max-width: 650px) {
        padding: 0 8rem;
    }

    &__title{
        padding: 4rem;
        font-size: 2.5rem;
        color: white;
        text-align: center;

        @media(max-width: 650px) {
            font-size: 2rem;
        }        
    }

    &__set{
        margin-top: 2rem;
        text-align: center;
        position: relative;
    }

    &__card{
        margin: 1rem;
        width: 13rem;

        @media(max-width: 950px){
            width: 12.2rem;
        }

        @media(max-width: 800px) {
            width: 11rem;
        }

        @media(max-width: 670px) {
            width: 9rem;
        }

        @media(max-width: 490px) {
            width: 7rem;
        }

        @media(max-width: 430px) {
            width: 5rem;
        }

        @media(max-width: 360px) {
            width: 4rem;
        }

        &_sm{
            width: 11.6rem;

            @media(max-width: 1650px) {
                width: 8rem;
            }

        }

    }

    &__questionMark {
        display: inline-block;
        font-size: 10rem;
        color: white;
        padding: 0 3rem;
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        @media(max-width: 800px) {
            font-size: 8rem;
        }

        @media(max-width: 670px) {
            font-size: 7rem;
        }

        @media(max-width: 430px) {
            font-size: 5rem;
        }

        @media(max-width: 360px) {
            font-size: 3.8rem;
        }

    }

    &__container{
        margin-top: 10rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__sword{
        width: 10rem;
        padding: 1rem;
        position: relative;
        top: 50%;
        transform: translateY(-25%);
    }

    &__crown{
        position: absolute;
        font-size: 6rem;
        color: yellow;
        transform: translate(-50%, -100%);
        left: 50%;
    }

    &__amount{
        color: green;
        font-size: 7rem;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateY(90%) translateX(-50%);
    }

}